body{
  background-image: url("./img/tennis_00.jpg");
  background-color: rgba(209, 247, 209, 0.9);
  background-blend-mode:lighten;
  font-family: "UD Shin Go Conde90 L";
  margin: 0;
}
.background_all{
  background: linear-gradient( 130deg, rgba(247, 70, 123, 0.6), rgba(240, 158, 8, 0.6));
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
.hero_bg{
  height: 500px;
}
a{text-decoration: none;}
a:link{text-decoration: none;}
a:visited{text-decoration: none;}
.act_text:link{color: black;text-decoration:none;}
.act_text:visited{color: black;text-decoration:none;}
.href_font:link,.href_font:visited{
  color: black;
}
h1{
  font-size: 75pt;
  color: #fff;
  font-family: "Shin Maru Go Futoline";
  text-align: center;
}
.like,.comment{
  margin-right:20px;
  text-decoration: none;
  color: dimgray;
}

.title_h1{
  width: 100%;
  position: absolute;
  margin: 200px auto;
  z-index: 300;
}
.login_h1{
  width: 100%;
  z-index: 300;
}
.fs_30{font-size: 30px;}
.font_bold{font-family: "Shin Go Regular";font-weight: bold;}
.font_green{color: #228b22;font-family: "Shin Go Regular";font-size: 75%;font-weight: none;}
#category_block{display:inline-block;margin-right:50px;}
.va_t{vertical-align:top;}
.ta_right{text-align: right;}
.link_small{display:inline-block;color: dimgray;font-size:75%;text-decoration: none;}
.float_left{float: left; margin-right: 20px;}
.float_right{float: right; margin-left: 20px;}
/* #tatop{vertical-align: top;} */
/* .text-align{text-align: right;} */
.ime-inactive { ime-mode : inactive;}
.disp_inblk{display: inline-block;}
#name_disp{float: left; width: 75%;padding-left: 10px;}
#prof_edit{float: right; width: 25%;text-align: right;}
#staticdata_wrap{
  width: auto;
  float: right;
  padding: 15px;
  margin: 10px 0;
  align-items: flex-end;
  background: linear-gradient( 130deg,#2e8b57,#3cb371);
  border-radius: 15px;
  /* line-height: 200%; */
}
.staticdata{
  display:inline-block;
  color: #fff;
  font-size: 75%;
}
#error_disp{
  margin-bottom: 50px;
  text-align: center;
  color: yellow;
  font-size: 30px;
}

.nav_container{
  width: 100%;
  height: 600px; /* 600pxの高さで表示させる */
  background: linear-gradient( 130deg, rgba(247, 70, 123, 0.8), rgba(240, 158, 8, 0.8));
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 150;
}
.nav_container2{
  width: 100%;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  z-index: 150;
}
.nav_container3{
  width: 100%;
  height: 100px;
  justify-content: space-between;
  display: flex;
  z-index: 150;
}
#gnavi{
  padding-left: 50px;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  color: #fff;
  z-index: 100;
}
#login_nav img{
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-position: center center; 
}
.dammy_img{
  height: 50px;
}
#gnavi li,#login_nav li,#login_nav_guest li{
  display: inline;
  margin-right: 20px;
  color: black;
}
.gnavs, .lnavs{
  margin: 0 auto;
  vertical-align: middle;
  color: #fff;
  text-decoration: none;
  position: relative;
  display: inline-block;
}
.gnavs::after,.lnavs::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: rgb(239, 243, 6);
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.gnavs:hover::after,.lnavs:hover::after {
  transform: scale(1, 1);
}
.fc_myp{
  color: #000;
}
#login_nav{
  padding-right: 50px;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  z-index: 100;
}
.user_name{
  font-size: 20px;
}
.user_name2{
  font-size: 30px;
}
#prof_img_wrap{
  width: 20%;
  text-align: center;
  margin: 0 auto;
  /* border: 1px solid black; */
}
#prof_img{
  margin-top: 0 auto;
  display: block;
  text-align: center;
  /* border: 1px solid black; */
}
#prof_info{width: 80%;display: inline-block;}
#container{
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: #fff;
  border-radius: 30px;
  font-family: "UD Shin Go Conde90 L";
}
#post_container{
  display: flex;
  padding: 15px 0;
}
#fb1{width: 20%;text-align: center;}
#fb2{width: 80%;text-align: left;}
.prof_fb1{display: flex;flex-direction: row;}
.prof_fb2{display: flex;flex-direction: row;margin-top: 10px;}
.bkborder{border: 1px solid black;}
#post{
  font-family: "UD Shin Go Conde90 L";
  border-bottom: 3px solid rgba(209, 247, 209, 0.6);
}
#post:first-child{border-bottom: none;}
.posts{
  padding: 10px 50px;
  line-height: 150%;
}
.small_date{font-size: 75%;}
.login_form{
  color: #fff;
  margin: 0 auto;
  width: 500px;
  text-align: center;
}

.login_form input{
  margin: 0 0 10px;
  padding: 10px;
  width: 50%;
  font-size: 20px;
  border: cornsilk;
}
#login_btn{
  width: 50%;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  background:#ff7f50;
  color: #fff;
}
#act_input{
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  background-color: #fff;
  border-radius: 30px;
}
#act_form{border-radius: 30px;}
#act_fs{display: block;}
#act_date{
  display: inline-block;
  border: 3px solid rgb(209, 247, 209);
  font-size: 20px;
}
.radio_wrap{
  margin-left: 10%;
  width: 50%;
  /* display: inline-block; */
}
.radio_wrap label{
  margin-left: 10%;
}
#act_container{
  font-size: 20px;
  text-align: center;
}
#act_input textarea{
  width: 90%;
  padding: 10px;
  margin: 10px;
  border: 3px solid rgb(209, 247, 209);
  font-family: "UD Shin Go Conde90 L";
  font-size: 20px;
  resize: none;
}
#prof_label{
  margin: 10px;
  display: block;
}
#prof_label input{
  margin-left: 20px;
  padding: 10px;
  font-size: 20px;
}

.flex_wrap{
  display: flex;
  justify-content: start
}
.act_wrap{
  text-align: left;
  display: block;
  width: 90%;
  padding: 10px;
  margin: 10px;
  font-family: "UD Shin Go Conde90 L";
}

.act_btn_wrap{
  display: inline-block;
  width: 100%;
  border: none;
  text-align: center;
}
#activity_btn{
  margin: 10px;
  padding: 10px;
  width: 93%;
  font-size: 20px;
  color: #fff;
  border: none;
  background-color: #228b22;
}
#file_upload{
  padding: 10px;
  margin: 10px;
  border: none;
  width: 90%;
  font-size: 20px;
  border: 3px solid rgb(209, 247, 209);
}

#user_info{
  font-weight: none;
  width: 100%;
}
#user_info th{
  width: 150px;
  text-align: left;
  vertical-align: top;
}

/*** Swiper ***/
@-webkit-keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
}
@keyframes zoomUp { /* 1.15倍させる指定 */
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
}
.swiper-slide {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img { /* 12秒かけて拡大させる */
  -webkit-animation: zoomUp 12s linear 0s;
  animation: zoomUp 12s linear 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.slide-img {
  background-size: cover; 
  background-position: center center; /* 背景画像は中央を軸に表示させる */
  height: 600px; /* 600pxの高さで表示させる */
}
/* テキストを追加したい場合は以下を追加 */
.slide-text {
position: absolute;
z-index: 100;
font-size: 20px;
color: #fff;
width: 100%;
top: 50%;
}